{
    "plugins": [
      "transform-class-properties",
      "transform-export-extensions",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-transform-runtime"
    ],
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": [
              "last 2 versions",
              "IE 11"
            ]
          },
          "modules": false
        }
      ]
    ],
    "sourceMaps": "inline",
    "env": {
      "server": {
        "plugins": [
          "transform-class-properties",
          "transform-export-extensions",
          "@babel/plugin-proposal-object-rest-spread",
          "@babel/plugin-transform-runtime"
        ],
        "presets": [
          "es2015"
        ],
        "sourceMaps": "inline"
      }
    }
  }