@media screen and (min-width: 923px) {
    body[fullscreen="true"] {
        padding: 0.9% 0;
    }

    [fullscreen="true"] .wrapper {
        max-width: 98.2%;
    }
    
    [fullscreen="true"] header .title {
        padding-left: 49px;
    }
    
    [fullscreen="true"] #task-list,[fullscreen="true"] .task.new-task {
        width: 260px;
    }
    
    [fullscreen="true"] #task-logs {
        width: calc(100% - 260px);
    }
    [fullscreen="true"] .tabs {
        position: absolute;
        left: 332px;
        top: 2px;
        transform: rotate(0deg);
        z-index: 2;
    }
    [fullscreen="true"] .scrolling > .task-data {
        top: 48px;
    }
    
    [fullscreen="true"] button.tab {border-radius: 4px;}
    
    [fullscreen="true"] .logo {
        left: 3px;
        z-index: 20;
        top: 4px;
    }

    [fullscreen="true"] .logs-container {
        padding: 20px 20px 27px;
    }
    
}