<script>

</script>

<div class="logger-container">

    
</div>

<style>
    .logger-container {
        float: left;
        overflow-y: auto;
        width: 72%;
        background: #1e1e1e;
        word-break: break-all;
        text-align: justify;
        height: calc(100% - 40px);
        color: #dedede;
        font-size: 13px;
        font-family: monospace;
        padding: 8px 0 27px 8px;
        position: relative;
        overflow-x: hidden;
    }
    .logger-container::-webkit-scrollbar {
        width: 10px;
    }
    .logger-container::-webkit-scrollbar-thumb {
        background: #f1f1f1;
    }
    .logger-container::-webkit-scrollbar-thumb:hover {
        background: rgb(220, 220, 220); 
    }

    :global([theme="dark"]) .logger-container {
        background: #060606;
        color: #dcdcdc;
    }
</style>