<script>
  import { getContext } from 'svelte'
  import store, { getState, actions } from '../store'

  $: state = getState()

  const handleClickTab = (tab) => {
    actions.tabs.setActive(tab.name)
    const activeTask = actions.tasks.getActiveTaskByTab(tab)

    if(!activeTask){
      actions.tasks.setActive(actions.tasks.getTasksByTab(tab)[0])
    }

  }

</script>


<div class="tabs">
  {#each $state.tabs.tabs as tab}
    <button
      class="tab {tab.name === $state.tabs.activeTab.name && 'active'}"
      id={tab.name}
      on:click={() => handleClickTab(tab)}>
      {tab.name}
    </button>
  {/each}
</div>

<style>
  
  .tabs {
    position: absolute;
    left: -24px;
    bottom: 70%;
    z-index: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-50%);
  }
  
  .tab {
    border-top-left-radius: 10px;
    user-select: none;
    border-top-right-radius: 10px;
    border: none;
    padding: 1px 10px 3px;
    z-index: -50;
    color: #a7a7a7;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: rgb(239, 239, 239);
    cursor: pointer;
    transition: background 269ms cubic-bezier(0, 0, 0.2, 1);
    margin-right: -5px;
    position: relative;
    z-index: 2;
  }
  
  .tab:hover {
    background: rgb(241, 241, 224);
  }

  .tab.active, .tab:active {
    z-index: 3;
    background: #f6f7d8;
    font-weight: 500;
    color: #565656;
  }
</style>