<script>
    import TaskButton from './TaskButton.html'
    import { getState, actions } from '../store'

    $: state = getState()

</script>




<section class="tasks-list">
	{#each actions.tasks.getTasksByTab($state.tabs.activeTab) as task, index}
		<TaskButton {task} {index}/>
	{/each}
</section>



<style>

    .tasks-list {
        height: calc(100% - 40px);
        width: 28%;
        position: relative;
        float: left;
        overflow-y: auto;
    }

    .tasks-list::-webkit-scrollbar {
        width: 10px;
    }
    .tasks-list::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    .tasks-list::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.15);
    }
    .tasks-list::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.2); 
    }

</style>